<div class="{{moduleName}}-actions">
    <a href="{{editUrl}}/{{id}}" class="anchor-button" title="Edit {{moduleName}}"><i class="bi bi-pencil"></i></a>
    <form action="{{deleteUrl}}/{{id}}" method="POST">
        <button type="submit" class="anchor-button" title="Delete {{moduleName}}"><i class="bi bi-trash"></i></button>
    </form>
</div>